<a href="https://colab.research.google.com/github/sademmhamdi/GoMyCode/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def multiply_list_items(lst):
    result = 1
    for item in lst:
        result *= item
    return result

sample_list = [2, 3, 6]
result = multiply_list_items(sample_list)
print("Result =", result)

Result = 36

In [2]:
def sort_by_last_element(tuples_list):
    tuples_list.sort(key=lambda x: x[-1])
    return tuples_list

sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
result = sort_by_last_element(sample_list)
print("Expected result:", result)

Expected result: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
def combine_dictionaries(d1, d2):
    combined_dict = {}

    # Process dictionary d1
    for key, value in d1.items():
        combined_dict[key] = value + combined_dict.get(key, 0)

    # Process dictionary d2
    for key, value in d2.items():
        combined_dict[key] = value + combined_dict.get(key, 0)

    return combined_dict

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
result = combine_dictionaries(d1, d2)
print("Expected result:", result)

Expected result: {'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [4]:
def generate_square_dictionary(n):
    square_dict = {}
    for i in range(1, n + 1):
        square_dict[i] = i * i
    return square_dict

n = int(input("Enter a positive integer: "))
result = generate_square_dictionary(n)
print(result)

Enter a positive integer: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [6]:
def sort_tuple_by_float_element(tuples_list):
    # Sort the list based on the float value of the second element of each tuple
    sorted_list = sorted(tuples_list, key=lambda x: float(x[1]), reverse=True)
    return sorted_list

tuples_list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
result = sort_tuple_by_float_element(tuples_list)
print("Expected result:", result)

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [7]:
my_set = {0, 1, 2, 3, 4}
print(my_set)

{0, 1, 2, 3, 4}

In [8]:
my_set = {0, 1, 2, 3, 4}
for item in my_set:
    print(item)

0
1
2
3
4

In [9]:
my_set = {0, 1, 2, 3, 4}
# Adding a single element to the set
my_set.add(5)
print(my_set)

# Adding multiple elements to the set using update() method
my_set.update({6, 7, 8})
print(my_set)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
my_set = {0, 1, 2, 3, 4}

# Remove a specific element from the set using remove() method
my_set.remove(3)
print(my_set)

# Remove a specific element from the set using discard() method (does not raise an error if the element is not found)
my_set.discard(2)
print(my_set)

# Remove and return an arbitrary element from the set using pop() method
popped_item = my_set.pop()
print("Popped item:", popped_item)
print(my_set)

# Clear the entire set using clear() method
my_set.clear()
print(my_set)

{0, 1, 2, 4}
{0, 1, 4}
Popped item: 0
{1, 4}
set()